.readsy_container {
	font-family:Verdana !important;
	color: #777 !important;
	display: table;
	width: 314px !important;
}

#readsy_text
{
	resize: none;
	min-width: 300px !important;
}

.readsy_widget
{
	border: 1px solid black;
	min-width: 300px !important;
	padding: 6px;
	margin-top: 1px;
	margin-bottom: 5px;
	background-color: white;
	overflow: none !important;
}

.readsy_expander
{
	padding-right: 5px;
	margin-top: 1px;
	font-size: 8px !important;
	line-height: 10px;
	color: Red !important;
	font-weight: bold;
	float: left;
}

.readsy_expander a
{
	margin-top: 5px;
	padding-top: 5px;
}

.readsy_expander:hover
{
	cursor: pointer;
}

.readsy_widget canvas
{
	border: 1px solid #000000;
	background-color: white;
	margin: 0px !important;
	display: block !important;
}

.readsy_controls
{
	margin-top: 2px;
	margin-bottom: -2px;
	font-family:Verdana !important;
}

.readsy_controls input
{
	width: 75px;
	height: 20px !important;
	padding: 0px !important;
	margin-bottom: 2px !important;
}

.readsy_controls button
{
	width: 80px;
	margin: 0px !important;
	margin-top: 2px !important;
}

.readsy_wpm
{
	float: right;
}

/*-------------------------*/
.readsy_button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	width:60px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.readsy_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.readsy_button:active {
	position:relative;
	top:1px;
	background: none transparent; border: none;
}
button:focus {outline:0;}
/* This button was generated using CSSButtonGenerator.com */