body
{
	background-color: white;
	background-color: #5cde4e;
}

.smalltile
{
	background-color: #5cde4e;
	width: 440px;
	height: 280px;
	margin-left: 100px;
}

.icon
{
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	background-color: black;
	width: 511px;
	height: 127px;
	border-radius: 16px;
	font-family: verdana;
	font-size: 128px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 1px;
}

.innericon
{
	background-color: white;
	width: 511px;
	height: 127px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

p
{
	color: red;
}